Repository rbmns/the-lineup.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, vitest related --run, prettier --write

Add files via upload
  public/lovable-uploads/ben-benjamin-A1-zZk7ixI4-unsplash.jpg
Due: none

Update HomeHeroSection.tsx
  src/components/home/HomeHeroSection.tsx
Due: eslint --fix, vitest related --run, prettier --write

Add files via upload
  public/lovable-uploads/doug-bagg-vIGmrIuNr1k-unsplash.jpg
  public/lovable-uploads/eduarda-olechak-3pxA0so8rA4-unsplash.jpg
Due: none

Add files via upload
  public/lovable-uploads/johannes-mandle-aMZBkPQRVJg-unsplash.jpg
Due: none

Add files via upload
  public/lovable-uploads/2.png
Due: none

Add files via upload
  public/lovable-uploads/clark-gu-sbNlS7dWqKE-unsplash.jpg
Due: none

Fix lock file mismatch
  package-lock.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  vitest related --run: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,json,css,md}
